<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Fav Lang survey</title>
  <link rel="stylesheet" href="static/css/style.css" type="text/css">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <div class="logo">Techsurvey</div>
        </div>
        <div class="nav-right">
            <form action="/afterlog" method="get">
                <button type="submit" class="create-post-btn"><i class="fa fa-home"></i> Home</button>
            </form>
           <!-- <div class="profile-icon">
                <img src="profile-pic.jpg" alt="Profile">
            </div>-->
        </div>
    </nav>
    <script src="/static/javascript/community.js"></script>
</body>
</html>



