<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose survey</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <div class="logo">Techsurvey</div>
        </div>
        <div class="nav-right">
            <form action="/afterlog" method="get">
                <button type="submit" class="create-post-btn">Home</button>
            </form>
           <!-- <div class="profile-icon">
                <img src="profile-pic.jpg" alt="Profile">
            </div>-->
        </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">
        <!-- Sidebar -->
        <aside class="sidebar">
            <h2>Categories</h2>
            <ul>
               <li><a href="/surveypage" style="color:black">Surveys of 2024</a></li>
            </ul>
        </aside>
        <div class="sidebar">
               <p>Vote to your favourite programming language</p>
               <p><a href="/favpro">Go Fast and vote</a></p>
               </div>
        <footer class="footer">
            <p>&copy; 2024 Techsurvey. All rights reserved.</p>
            <div class="footer-links">
                <a href="#">About Us</a>
                <a href="#">Contact</a>
                <a href="#">Privacy Policy</a>
            </div>
        </footer>
</body>
</html>