<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Choose survey</title>
    <link rel="stylesheet" href="static/css/style.css" type="text/css">
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.0.0-beta3/css/all.min.css">
</head>
<body>
    <nav class="navbar">
        <div class="nav-left">
            <div class="logo">Techsurvey</div>
        </div>
        <div class="nav-right">
            <form action="/afterlog" method="get">
                <button type="submit" class="create-post-btn"><i class="fa fa-home"></i> Home</button>
            </form>
           <!-- <div class="profile-icon">
                <img src="profile-pic.jpg" alt="Profile">
            </div>-->
        </div>
    </nav>

    <!-- Main Content -->
    <div class="main-content">

        <div class="sidebar">
               <p>Vote to your favourite programming language</p>
               <p><a href="/favpro">Go Fast and vote</a></p>
               <br>
               <p>Category:<b>Tech</b></p>
               <br/>
               <!--<img src="/static/assests/progroup.webp" alt="favpro">-->
               </div>

        <div class="sidebar">
                <p>Vote to your favourite Framework</p>
                <p><a href="/favframe">Go Fast and vote</a></p>
                <br>
                <p>Category:<b>Tech</b></p>
                </div>

        <div class="sidebar">
                    <p>Vote to your favourite development type</p>
                    <p><a href="/favdev">Go Fast and vote</a></p>
                    <br>
                    <p>Category:<b>Tech</b></p>
                </div>
</body>
</html>